<h1 class="text-center my-4">お問い合わせ内容の確認</h1>
<h3 class="text-center">この内容で送信します。よろしいですか？</h3>

<div class="container">
  <div class="card mb-4">
    <div class="card-body">
      <%= form_with model: @inquiry, local: true, url: inquiries_path, data: { turbo: false, action: "submit->form-handler#submitWithPopup" } do |form| %>
        <div class="form-group mb-3">
          <%= form.label :name, "お名前", class: "form-label" %>
          <p class="form-control-plaintext"><%= @inquiry.name %></p>
          <%= form.hidden_field :name, value: @inquiry.name %>
        </div>

        <div class="form-group mb-3">
          <%= form.label :email, "メールアドレス", class: "form-label" %>
          <p class="form-control-plaintext"><%= @inquiry.email %></p>
          <%= form.hidden_field :email, value: @inquiry.email %>
        </div>

        <div class="form-group mb-3">
          <%= form.label :message, "お問い合わせ内容", class: "form-label" %>
          <p class="form-control-plaintext"><%= @inquiry.message %></p>
          <%= form.hidden_field :message, value: @inquiry.message %>
        </div>

        <div class="actions">
          <%= form.submit "送信", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>

  <%= form_with model: @inquiry, local: true, url: back_inquiries_path, method: :post, data: { turbo: false } do |form| %>
    <%= form.hidden_field :name, value: @inquiry.name %>
    <%= form.hidden_field :email, value: @inquiry.email %>
    <%= form.hidden_field :message, value: @inquiry.message %>
    <div class="actions">
      <%= form.submit "修正する", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
