<!DOCTYPE html>
<html>
  <head>
    <title>HokurikuShienTravelersMap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <head prefix="og: https://ogp.me/ns#">
    <meta property="og:url" content="<%= https://hokuriku-shien-travelers-map-c9f671e3c233.herokuapp.com/ %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="北陸トラベラーズマップは、まだあまり知られていない観光地含め多くの観光スポットがある北陸地方の魅力を発見し、北陸旅行への一助となるサービスです。" />
    <meta property="og:description" content="北陸トラベラーズマップは、北陸地方の観光に特化したマップ検索サービスで、マップ上には北陸地方各地域の道路及び交通情報や各種観光施設の情報がマッピングされており、マップ上や検索窓、カテゴリ別のメニューから気になる観光スポットを探したり、マップ上の気になる観光スポットをブックマークに保存する事ができるなど、北陸地方の観光スポットについて「どこに、どのような観光スポットがあるのか」を知る事が出来ます。" />
    <meta property="og:site_name" content="北陸トラベラーズマップ" />
    <meta property="og:image" content="https://hokuriku-shien-travelers-map-c9f671e3c233.herokuapp.com/assets/hokuriku-travelers-map-14fbc93b8d4e579356dfd7f78341122d5b15f79293d73503459e20fad9124b19.jpg" />
    <meta name="twitter:card" content="summary_large_image" />

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <div class="page-container">
      <main class="content-wrap">
        <%= render "shared/header" %>
        <%= yield %>
      </main>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
